
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Overview of my project</h1>
    <p class="lead"></p>
    <p><a href="" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

@if (User.Identity.IsAuthenticated)
{
    <div class="row">
        <div class="col-md-4">
            <h2>Game 1</h2>
            <p>

            </p>
            <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Game 2</h2>
            <p></p>
            <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Game 3</h2>
            <p></p>
            <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
        </div>
    </div>
}
