:root {
    --mainWhite: white;
    --mainDark: black;
    --colour: orange;
    --colour2: navy;
}

body {
    background: var(--mainWhite);
    color: var(--mainDark);
}

.button {
    border-color: var(--colour);
    color: var(--colour);
    background: transparent;
}

    .button:hover {
        background: var(--colour);
        color: var(--mainDark);
    }

.question-card {
    display: none;
    bottom: 40%;
    position: relative;
    background: transparent;
    border-color: var(--colour);
}

.feedback {
    display: none;
}

textarea {
    border-radius: 0.75rem;
    border-color: var(--colour);
}

.close-btn {
    position: absolute;
    top: 70px;
    right: 40%;
    font-size: 2rem;
    color: var(--colour);
    cursor: pointer;
}

    .close-btn:hover {
        color: var(--colour2);
    }

.submitBtn {
    border: 0.2em solid var(--colour2);
    color: var(--colour2);
    background: transparent;
}

    .submitBtn:hover {
        background: var(--colour2);
        color: var(--mainWhite);
    }

.edit-flashcard {
    border: 0.2rem solid var(--colour2);
    color: var(--colour2);
    background: transparent;
}

    .edit-flashcard:hover {
        background: var(--colour2);
        color: var(--mainDark);
    }

.delete-flashcard {
    border: 0.2rem solid var(--colour);
    color: var(--colour);
    background: transparent;
}

    .delete-flashcard:hover {
        background: var(--colour);
        color: var(--mainDark);
    }

.answer {
    display: none;
}

.showItem {
    display: block;
}
