:root {
    --mainWhite: white;
    --mainDark: black;
    --colour: orange;
    --colour2: navy;
}

body {
    background: var(--mainWhite);
   
}

.button {
    border-color: orange;
    color: orange;
    background: transparent;
}

    .button:hover {
        background: orange;
        color: black;
    }

.createflashcard {
    display: none;
    top: 25px;
    background: transparent;
    border-color: orange;
}



textarea {
    border-radius: 0.75rem;
    border-color: orange;
}



.submitBtn {
    border: 0.2em solid var(--colour2);
    color: navy;
    background: transparent;
}

    .submitBtn:hover {
        background: navy;
        color: var(--mainWhite);
    }

.edit-flashcard {
    border: 0.2rem solid navy;
    color: navy;
    background: transparent;
}

    .edit-flashcard:hover {
        background: navy;
        color: black;
    }

.delete-flashcard {
    border: 0.2rem solid orange;
    color: orange;
    background: transparent;
}

    .delete-flashcard:hover {
        background: orange;
        color: black;
    }

.answer {
    display: none;
}

.showItem {
    display: block;
}
