
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_GameLayout.cshtml";

}
<!doctype html>
<html lang="en">
<head>
    <!--  <link href="css/Visuals/memorygame1/fonts.css" rel=stylesheet>-->
    <link href="css/Visuals/memorygame1/style.css" rel=stylesheet type="text/css">
    <script src="js/Visuals/Memorygame1/alert.js"></script>
    <!--  <link rel="stylesheet" href="css/Visuals/memorygame1/google.scss">-->
    <link rel="stylesheet" type="text/css" href="css/Visuals/memorygame1/alert.css">
    <script src="js/Visuals/Memorygame1/shortcut.js"></script>
    <script src="js/Visuals/Memorygame1/script.js" type="text/javascript"></script>
    <title>Memory Game - Student Hub</title>

</head>



<body>
  
  
    <div class="shortcut">
     

    </div>
 
    <!--provides colour to table-->
    <h1 id="game_name" class="get_name" itemprop="load">Loading ...</h1>


    <div class="header" id="header" itemprop="siteMenu">
        <button onclick="startGame();" class="reset" title="Start Game" id="start">Start</button>
       

    </div>
    <table class="MG1" id="MG1" itemprop="gameTable">
        <tr>
            <td id="1" onclick="replyClick(this.id)"></td>
            <td id="2" onclick="replyClick(this.id)"></td>

        </tr>
        <tr>
            <td id="3" onclick="replyClick(this.id)"></td>
            <td id="4" onclick="replyClick(this.id)"></td>
        </tr>
    </table>

    <table class="score" id="score" itemprop="scoreTable">
        <tr>
            <td>Score</td>
            <td id="win">0</td>
        </tr>
    </table>
    <div class="button_section" itemprop="controlButtonSection">
        <button onclick="scoreTable();" class="reset" id="score_button" title="Score">Score</button>
        <button onclick="restartGame();" class="reset" title="Restart Game" id="restart">Reset</button>
  


    </div>


    </div>


    <script>
        begin();
    </script>
    <script src="js/Visuals/Memorygame1/particles.js"></script>
    <script src="js/Visuals/Memorygame1/app.js"></script>
</body>

</html>